<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/general.css}">
</head>
<body>
<div class="sidebarContainer" th:insert="~{sidebar::sidebar}"></div>

<div class="contentContainer">
    <h1>Профиль пользователя</h1>

    <div class="form-container">
        <form th:action="@{/profile}" method="post" th:object="${newUserTraits}">
            <div class="form-input-container">
                <label for="name">Имя</label>
                <input type="text" id="name" th:field="*{newName}" placeholder="Введите ваше имя" value="*{newName}" required>
            </div>
            <div class="form-input-container">
                <label for="email">Email</label>
                <input type="email" id="email" th:field="*{newEmail}" placeholder="Введите ваш email" value="*{newEmail}">
            </div>

            <h3>Изменить пароль</h3>
            <div class="form-input-container">
                <label for="oldPassword">Старый пароль</label>
                <input type="password" id="oldPassword" th:field="*{oldPassword}" placeholder="Введите старый пароль">
            </div>
            <div class="form-input-container">
                <label for="newPassword">Новый пароль</label>
                <input type="password" id="newPassword" th:field="*{newPassword}" placeholder="Введите новый пароль">
            </div>
            <div class="form-input-container">
                <label for="confirmPassword">Подтвердите новый пароль</label>
                <input type="password" id="confirmPassword" th:field="*{repeatedNewPassword}" placeholder="Подтвердите новый пароль">
            </div>

            <button type="submit">Сохранить изменения</button>
        </form>
    </div>
</div>
</body>
</html>
