<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Шаблон с боковым меню</title>
  <link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>
<body>
<div class="sidebar" th:fragment="sidebar">
  <a th:href="@{/businesses}">
    <h2>Business Finances</h2>
  </a>

  <ul>
    <li><a th:href="@{/businesses}">Бизнесы</a></li>
    <li><a th:href="@{/profile}">Профиль</a></li>
  </ul>

  <div class="selBusinessName" th:if="${selectedBusiness}" th:text="${selectedBusiness.businessName}">Имя бизнеса</div>
  <ul th:if="${selectedBusiness}">
    <th:block th:with="baseUrl=@{/businesses/} + ${selectedBusiness.businessId}">
      <li><a th:href="${baseUrl} + '/settings'">Настройки</a></li>
      <li><a th:href="${baseUrl} + '/participant'">Участники</a></li>
      <li><a th:href="${baseUrl} + '/config'">Конфигурация</a></li>
      <li><a th:href="${baseUrl} + '/transaction'">Транзакции</a></li>
      <li><a th:href="${baseUrl} + '/obligation'">Обязательства</a></li>
    </th:block>
  </ul>

  <div class="user-info">
    <span >Имя пользователя</span>
    <form th:action="@{/logout}" method="post">
      <button type="submit">Выйти</button>
    </form>
  </div>
</div>
</body>
</html>
