<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${selectedBusiness.businessName} + ' - Участники'"></title>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <style>
        td:nth-child(3), th:nth-child(3) {
            width: 150px;
        }
    </style>
</head>
<body>
<div class="sidebarContainer" th:insert="~{sidebar::sidebar}"></div>

<div class="contentContainer">
    <h1 th:text="Участники"></h1>

    <div class="business-info">
        <div class="form-container">
            <h3>Добавить участника</h3>
            <form th:action="@{/businesses} + '/' + ${selectedBusiness.businessId} + '/participant'" method="post" th:object="${addRoleTraits}">
                <div class="form-input-container">
                    <label for="login">Логин пользователя:</label>
                    <input type="text" th:field="*{login}" placeholder="Введите логин" required>
                </div>

                <div class="form-input-container">
                    <label for="role">Роль:</label>
                    <select id="role" name="role" th:field="*{role}" value="2" required>
                        <option th:each="r : ${roles}" th:value="${r}" th:text="${r}"></option>
                    </select>
                </div>

                <button type="submit">Добавить</button>
            </form>
        </div>

        <div class="table-container">
            <h3>Список участников</h3>
            <table>
                <thead>
                <tr>
                    <th>Имя</th>
                    <th>Роль</th>
                    <th>Действие</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="participant : ${participants}">
                    <td th:text="${participant.user.name}"></td>
                    <td th:text="${participant.role.roleName}"></td>
                    <td>
                        <form th:action="@{/businesses} + '/' + ${selectedBusiness.businessId} + '/participant/delete'" method="post">
                            <input type="hidden" name="involveCode" th:value="${participant.involveCode}">
                            <button class="delete_button" type="submit">Удалить</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
