<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${selectedBusiness.businessName} + ' - Конфигурация'"></title>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/general.css}">
</head>
<body>
<div class="sidebarContainer" th:insert="~{sidebar::sidebar}"></div>
<div class="contentContainer">
    <h1>Конфигурация бизнеса</h1>


    <section>
        <h2 class="capture">Контрагенты</h2>
        <div class="form-container">
            <form th:action="@{'/businesses/' + ${selectedBusiness.businessId} + '/config/agent'}" method="post" th:object="${newAgent}">
                <div class="form-input-container">
                    <label for="agentName">Имя контрагента</label>
                    <input type="text" id="agentName" th:field="*{agentName}" required>
                </div>
                <button type="submit">Добавить</button>
            </form>
        </div>

        <div class="table-container">
            <h2>Список всех контрагентов</h2>

            <table>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Автор</th>
                    <th>Действие</th>
                </tr>
                <tr th:each="agent : ${agents}">
                    <td th:text="${agent.agentId}"></td>
                    <td th:text="${agent.agentName}"></td>
                    <td th:text="${agent.author.name}"></td>
                    <td>
                        <form th:action="@{'/businesses/' + ${selectedBusiness.businessId} + '/config/agent/delete'}" method="post">
                            <input type="hidden" name="agentId" th:value="${agent.agentId}">
                            <button class="delete_button" type="submit">Удалить</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </section>

    <section>
        <h2 class="capture">Cчета</h2>
        <div class="form-container">
            <form th:action="@{'/businesses/' + ${selectedBusiness.businessId} + '/config/account'}" method="post" th:object="${newAccount}">
                <div class="form-input-container">
                    <label for="bankName">Банк</label>
                    <input type="text" id="bankName" th:field="*{bankName}" required>
                </div>
                <div class="form-input-container">
                    <label for="accountName">Имя счета</label>
                    <input type="text" id="accountName" th:field="*{accountName}" required>
                </div>
                <div class="form-input-container">
                    <label for="description">Описание</label>
                    <input type="text" id="description" th:field="*{description}">
                </div>
                <button type="submit">Добавить</button>
            </form>
        </div>

        <div class="table-container">
            <h2>Список всех счетов</h2>

            <table>
                <tr>
                    <th>ID</th>
                    <th>Банк</th>
                    <th>Имя счета</th>
                    <th>Описание</th>
                    <th>Автор</th>
                    <th>Действие</th>
                </tr>
                <tr th:each="account : ${accounts}">
                    <td th:text="${account.accountCode}"></td>
                    <td th:text="${account.bankName}"></td>
                    <td th:text="${account.accountName}"></td>
                    <td th:text="${account.description}"></td>
                    <td th:text="${account.author.name}"></td>
                    <td>
                        <form th:action="@{'/businesses/' + ${selectedBusiness.businessId} + '/config/account/delete'}" method="post">
                            <input type="hidden" name="accountCode" th:value="${account.accountCode}">
                            <button class="delete_button" type="submit">Удалить</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </section>

    <section>
        <h2 class="capture">Категории транзакций</h2>
        <div class="form-container">
            <form th:action="@{'/businesses/' + ${selectedBusiness.businessId} + '/config/category'}" method="post" th:object="${newCategory}">
                <div class="form-input-container">
                    <label for="categoryName">Название категории</label>
                    <input type="text" id="categoryName" th:field="*{categoryName}" required>
                </div>
                <div class="form-input-container">
                    <label for="type">Тип</label>
                    <select th:field="*{type}">
                        <option th:each="type : ${types}" th:value="${type.shortName}" th:text="${type.fullName}"></option>
                    </select>
                </div>
                <button type="submit">Добавить</button>
            </form>
        </div>

        <div class="table-container">
            <h2>Список всех категорий транзакций</h2>

            <table>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Тип</th>
                    <th>Автор</th>
                    <th>Действие</th>
                </tr>
                <tr th:each="category : ${categories}">
                    <td th:text="${category.categoryId}"></td>
                    <td th:text="${category.categoryName}"></td>
                    <td th:text="${category.type.fullName}"></td>
                    <td th:text="${category.author.name}"></td>
                    <td>
                        <form th:action="@{'/businesses/' + ${selectedBusiness.businessId} + '/config/category/delete'}" method="post">
                            <input type="hidden" name="categoryId" th:value="${category.categoryId}">
                            <button class="delete_button" type="submit">Удалить</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</div>
</body>
</html>
