<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Создание бизнеса</title>
  <link rel="stylesheet" th:href="@{/css/sidebar.css}">
  <link rel="stylesheet" th:href="@{/css/general.css}">
</head>
<body>
<div class="sidebarContainer" th:insert="~{sidebar::sidebar}"></div>

<div class="contentContainer">
  <h1>Создать новый бизнес</h1>

  <div class="form-container">
    <form th:action="@{/businesses}" method="post" th:object="${newBusiness}">
      <div class="form-input-container">
        <label for="businessName">Имя бизнеса</label>
        <input type="text" id="businessName" th:field="*{businessName}" placeholder="Введите имя бизнеса" required>
      </div>
      <button type="submit">Создать</button>
    </form>
  </div>
</div>
</body>
</html>
