<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${selectedBusiness.businessName} + ' - Обязательства'"></title>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/general.css}">
</head>
<body>
<div class="sidebarContainer" th:insert="~{sidebar::sidebar}"></div>

<div class="contentContainer">
    <h1>Обязательства</h1>

    <div class="form-container">
        <form th:action="@{'/businesses/' + ${selectedBusiness.businessId} + '/obligation'}" method="post" th:object="${obligationForm}">
            <div class="form-input-container">
                <label for="type">Тип</label>
                <select th:field="*{type}">
                    <option th:each="type : ${types}" th:value="${type.shortName}" th:text="${type.fullName}"></option>
                </select>
            </div>
            <div class="form-input-container">
                <label for="amount">Сумма</label>
                <input type="number" id="amount" th:field="*{amount}" step="0.01" placeholder="Введите сумму" required>
            </div>
            <div class="form-input-container">
                <label for="description">Описание</label>
                <input type="text" id="description" th:field="*{description}" placeholder="Введите описание" required>
            </div>
            <div class="form-input-container">
                <label for="date">Дата</label>
                <input type="datetime-local" id="date" th:field="*{dueDate}" required>
            </div>
            <button type="submit">Создать</button>
        </form>
    </div>

    <div class="table-container">
        <h2>Последние 20 обязательств</h2>
        <table class="obligations-table">
            <thead>
            <tr>
                <th>Тип</th>
                <th>Описание</th>
                <th>Сумма</th>
                <th>Дата</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="obligation : ${obligations}">
                <td th:text="${obligation.type.fullName}"></td>
                <td th:text="${obligation.description}"></td>
                <td th:text="${#numbers.formatDecimal(obligation.amount, 1, 'COMMA', 2, 'POINT') + ' руб.'}"></td>
                <td th:text="${obligation.dueDate}"></td>
                <td>
                    <form th:action="@{'/businesses/' + ${selectedBusiness.businessId} + '/obligation/delete'}" method="post">
                        <input type="hidden" name="obligationId" th:value="${obligation.obligationId}">
                        <button class="delete_button" type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
